@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(images/greenmountain.jpg);
  transition: all 0.5s ease;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.clouds {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, 25%);
  animation: cloud 3s ease infinite; /* making the cluds to move one after another with intervals*/
}

.cloud2 {
  top: 50%;
  transform: translate(100%, 50%);
  animation: cloud 3s ease infinite 1s;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, 75%);
  animation: cloud 3s ease infinite 2s;
}
.plane {
  animation: plane 1s ease infinite alternate;
}

/* keyframs for moving the plane */
@keyframes plane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
  }
}

/* keyframs for moving the clouds */
@keyframes cloud {
  from {
    right: 0%;
  }
  to {
    right: 200%;
  }
}

.carousel-text {
  font-family: "Cairo", sans-serif;
  -webkit-text-stroke: 1px #ffffff;
  color: rgb(2, 2, 2);
}

.carousel-container {
  height: 32rem;
  color: white;
  position: relative;
  z-index: -1;
}
.carousel-img {
  height: 32rem !important;
  background: rgb(44, 8, 44);
}

.card-img-top {
  width: 100%;
  height: 45%;
  object-fit: contain;
}
.carousel-img1 {
  background: url(./images/1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-img2 {
  background: url(./images/2.jpg);
  background-size: cover;
  background-position: center;
}
.carousel-img3 {
  background: url(./images/3.jpg);
  background-size: cover;
  background-position: center;
}
.text {
  background: rgba(0, 30, 255, 0.5);
}
.card:hover {
  transform: scaleY(1.1);
  box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.75);
}
.card-text,
.card-text ~ ul {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;

  /* The number of lines to be displayed */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.heading,
.card {
  font-family: "Gruppo", cursive;
  letter-spacing: 2px;
}
